.teamlist-wrapper {
  width: 60%;
  height: 600px;
  margin: 3.6rem auto;
}

.teamlist-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .teamlist-wrapper {
    width: 80%;
    margin: 4rem auto;
    padding-top: 1.4rem;
  }

  .teamlist-title {
    display: none;
  }
}
