.team-detail-container {
  margin: 3rem 10rem;
  /* border: red solid 2px; */
}

.team-name {
  margin-bottom: 16px;

  /* SVG support allows for logos on this element
     background-image set dynamically w/javascript */
  padding-top: 125px;
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: center 0;
}

@media screen and (max-width: 600px) {
  .team-detail-container {
    text-align: center;
    margin: 1rem;
    padding-top: 20px;
    padding-top: 6rem;
  }
}