body {
  margin: 0;
}

ul.topnav {
  list-style-type: none;
  /* padding: 30; */
  overflow: hidden;
  display: flex;
  /* background-color: #333; */
}

ul.topnav li {
  float: left;
}

ul.topnav li a,
span {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* ul.topnav li a:hover:not(.active) {background-color: #111;} */

/* ul.topnav li a.active {background-color: #04AA6D;} */

.right {
  /* border: 1px red solid; */
  margin-left: auto;
  margin-right: 40px;
}

.site-title {
  font-weight: 500;
}

.wrap {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 9999;
  /* box-shadow: 0px 2px 12px grey; */
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }

  .right {
    display: none;
  }

  li a,
  .dropbtn {
    padding: 0;
  }
}
